
.bg-header{
  background-color: rgb(189, 74, 18);
  padding: 5px;
  font-weight: bold;
}

.nav-link{
  color: white;
}

.no-padding{
  padding-right: 0;
  padding-left: 0;
}

.body-info{
  padding: 50px;
}
